.page-info {
  background-color: #f9f9f9;
  background-image: url(/wiki/cortina/images/page-info.png);
  background-position: 0.8em 0.5em;
  background-repeat: no-repeat;
  border-color: #025e9d;
  border-style: solid;
  border-width: 1px 1px medium;
  margin-bottom: 1em;
  padding: 0.3em 0.5em 0.3em 5em;
}

.page-warning {
  background-color: #f9f9f9;
  background-image: url(/wiki/cortina/images/page-warning.png);
  background-position: 0.8em 0.5em;
  background-repeat: no-repeat;
  border-color: #f71f1f;
  border-style: solid;
  border-width: 1px 1px medium;
  margin-bottom: 1em;
  padding: 0.3em 0.5em 0.3em 5em;
}

